<div>
  <%= form_with model: @user, url: user_path do |form| %>
    <p><%= form.label :user, "Email:" %></p>
    <p><%= form.text_field :email %></p>

    <p><%= form.label :user, "Username:" %></p>
    <p><%= form.text_field :username %></p>

    <p><%= form.label :user, "Password:" %></p>
    <p><%= form.password_field :password %></p>
    <%= form.submit "Sign in" %>
  <% end %>
</div> 

<div>
  <p><%= emailError.join(', ') %></p>
  <p><%= usernameError.join(', ') %></p>
  <p><%= passwordError.join(', ') %></p>
</div>