<div>
  <%= form_with model: @user do |form| %>
    <p><%= form.label :user, "Email:" %></p>
    <p><%= form.text_field :email %></p>

    <p><%= form.label :user, "Username:" %></p>
    <p><%= form.text_field :username %></p>

    <p><%= form.label :user, "Password:" %></p>
    <p><%= form.password_field :password %></p>
    <%= form.submit "Sign in" %>
  <% end %>
</div>

<div>
  <p><%= email_error.join(', ') %></p>
  <p><%= username_error.join(', ') %></p>
  <p><%= password_error.join(', ') %></p>
</div>
