

<%# <form accept-charset="UTF-8" action="/users" data-remote="true" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
   <%# <label for="email">Email: </label>
  <input type="text" id="email" name="user[email]"><br><br>
  <label for="username">Username: </label>
  <input type="text" id="username" name="user[username]"><br><br>
  <label for="password">Password: </label>
  <input type="password" id="password" name="user[password]"><br><br>
  <input type="submit" value="Submit">
</form>  %> %>
<%# <%= form_tag("/users", method: "post") do %>
  <%# <%= label_tag(:user, "Email:") %>
  <%# <%= text_field_tag(:email) %>
  
  <%# <%= label_tag(:user, "Username:") %>
  <%# <%= text_field_tag(:username) %>
  
  <%# <%= label_tag(:user, "Password:") %>
  <%# <%= password_field_tag(:password) %>
  
  <%# <%= submit_tag("Submit") %>
<%# <% end %>

<%= form_with url: "/users", method: :post do |form| %>
  <%= form.label :user, "Email:" %>
  <%= form.text_field :email %>
  <%= form.label :user, "Username:" %>
  <%= form.text_field :username %>
  <%= form.label :user, "Password:" %>
  <%= form.password_field :password %>
  
  
  <%= form.submit "Sign in" %>
<% end %>


